apiVersion: v1
kind: Service
metadata:
  name: {{ include "gotenberg.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "gotenberg.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  {{- if .Values.containerPorts.gotenberg }}
    - port: 3000
      targetPort: gotenberg
      protocol: TCP
      name: gotenberg
  {{- end }}
  selector:
    {{- include "gotenberg.selectorLabels" . | nindent 4 }}
