# Default values for gotenberg.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: gotenberg/gotenberg
  tag: '8.5.0'
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ""

env:
  open:
    LOG_FORMAT: "TEXT"
    LOG_LEVEL: "DEBUG"

service:
  type: ClusterIP
  port: 3000
  labels: {}

resources: {}
#  limits:
#    cpu: 600m
#    memory: 512Mi
#  requests:
#    cpu: 600m
#    memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 80

containerPorts:
  gotenberg: 3000

nodeSelector: {}

tolerations: []

affinity: {}

annotations: {}

verticalAutoscaling:
  enabled: false
  minAllowed: 50m

podDisruptionBudget:
  enabled: false
  maxUnavailable: 1
